/**
 * @file
 * Visual styles for Three Grain Harmony's dropbuttons.
 */

.js .dropbutton-widget {
  border: 1px solid #cccccc;
  border-radius: 4px;
 /*  background-image: linear-gradient(to bottom,#fafafa,rgba(232, 232, 232, 0.58)); */
  background-image: linear-gradient(to bottom,rgb(250, 250, 250),rgb(232,232,232));
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
}

.js .dropbutton-widget:hover {
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d2d2d2;
 /*  background-image: linear-gradient(to bottom,rgb(250, 250, 250),rgb(232, 232, 232)); */
}

.js .dropbutton-widget .dropbutton-action a,
.js .dropbutton-widget .dropbutton-action input,
.js .dropbutton-widget .dropbutton-action button {
  padding: 3px 1em;
}
.js .dropbutton .dropbutton-action:hover,
.js .dropbutton a:hover {
  background-image: linear-gradient(to bottom,rgb(250,250,250),rgba(232, 232, 232, 0.39));
  /* background: #ffffff; */
  border-bottom: 0 none;
}
