main .field__item {
  padding-left: 0.5em;
}

main .field__item > div.field:not(.field--label-visually_hidden) {
  border: 1px solid lightgrey;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-left: 5px;

}
