/**
 * @file
 * Visual styles for Three Grain Harmony's forms.
 */

details,
fieldset,
.filter-wrapper {
  border-radius: 10px;
}
summary {
 /*  background: #dbdbdb; */
  color: rgb(224, 110, 18);
  text-shadow: 0 1px 0 #e4e2e2;
}
label {
  display: table;
  font-weight: bold;
}

input {
  margin: 2px 0;
  padding: 4px;
  /* Keep form elements from overflowing their containers. */
  max-width: 100%;
  box-sizing: border-box;
}
input,
textarea {
  font-size: 0.929em;
}
textarea.form-textarea,
select.form-select {
  padding: 3px;
}

input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-file,
input.form-number,
input.form-color,
input.form-checkbox,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
  border-radius: 8px;
  /* color: #3b3b3b; */
}
