/* ------------------ Header ------------------ */
#header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header .section {
  position: relative;
}
.header {
/*  background-color: rgb(200,200,200); */
  z-index: 0;
}
.region-header {
  padding: 5px 0 5px 0;
 /*  border-bottom: 6px double rgba(255,160,33,1); */
  z-index: 0;
}
.region-header .site-branding {
  /*margin-top: 0.429em;*/
  z-index: 0;
}
