/**
 * @file
 * Panel styling. Panels are used to visually group items together.
 */

.panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin: 10px 0;
  padding: 0 5px 5px;
}
.panel__title {
  margin: 16px 7px;
}
.panel__content {
  padding: 0 4px 2px 8px; /* LTR */
}
[dir="rtl"] .panel__content {
  padding-right: 8px;
  padding-left: 4px;
}
