/* --------------- Primary Menu ------------ */

.region-primary-menu {
  clear: none;
  padding-right: 10px;
/*  z-index: 100; Martin: why do we need the z-index? */
  float: right;
  vertical-align: bottom;
}


.region-primary-menu .menu {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 3em;
  font-size: 1em;
  font-weight: normal;
}

.region-primary-menu .menu-item {
  margin: 0;
  padding: 0;
}

.region-primary-menu .menu a {
  display: inline-flex;
  float: left;
  text-decoration: none;
  color: rgb(0,0,0);
  margin-left: 15px;
  font-weight: bold;
  text-shadow: 0 1px 1px #fafafa;
}
.region-primary-menu .menu a:hover {
  color: rgb(187,96,5);
}
.region-primary-menu .menu a:focus {
  color: rgb(187,96,5);
}

.region-primary-menu .menu a:last-child {
  margin-right: 5px; /* LTR */
}
[dir="rtl"] .region-primary-menu .menu a:last-child {
  margin-left: 5px;
}
