/* --------------- Secondary Menu ------------ */

/* Martin: Why do we need this high z-index?
.region-secondary-menu .contextual-region {
  z-index: 1000;
}
*/

.region-secondary-menu .menu {
  text-align: right; /* LTR */
  font-size: 0.9em;
  margin: 0 10px;
  padding: 0;
}
[dir="rtl"] .region-secondary-menu .menu {
  text-align: left;
  margin-right: 10px; /* required to win over specificity of [dir="rtl"] ul.menu */
  margin-left: 10px;
}
.region-secondary-menu .menu-item {
  margin: 0;
  padding: 0;
  display: inline;
}
.region-secondary-menu .menu a {
  display: inline-block;
  padding: 0.4em;
 /*  color: rgb(210, 103, 16); */
  color: rgb(220, 108, 17);
  color: rgb(241, 121, 25);
/*   text-shadow: 0 2px 2px #f3f2f2; */
}
.region-secondary-menu .menu a:hover,
.region-secondary-menu .menu a:focus {
  text-decoration: none;
 /*  color: #e35400; */
  /* color: rgb(251, 123, 19); */
  color: rgb(251,137,44);
/*   text-shadow: 0 2px 2px #fbf8f8; */
}
.region-secondary-menu .menu a:last-child {
  margin-right: 5px; /* LTR */
}
[dir="rtl"] .region-secondary-menu .menu a:last-child {
  margin-left: 5px;
}

.region-secondary-menu {
  float: right;
}
