/* ------------------ Sidebar ----------------- */

@media all and (min-width: 560px) {
  .sidebar {
    float: right; /* LTR */
    position: relative;
    width: 50%; /* if there are two sidebars, they are left right */
  }
  [dir="rtl"] .sidebar {
    float: left;
  }
  .one-sidebar .sidebar {
    width: 100%; /* on small screens if there is only one sidebar it may be whole width */
  }
}


@media all and (min-width: 851px) {
  .layout-content {
    float: left;
  }
  .two-sidebars .layout-content {
    width: 58%;
  }
  .one-sidebar .layout-content {
    width: 78%; /* fill the missing sidebar's space with the main content to avoid gap */
  }
  .no-sidebar .layout-content {
    width: 100%; /* no sidebar -- content occupies whole width */
  }
  .one-sidebar .sidebar,
  .two-sidebars .sidebar {
    width: 20%;
    margin-left: 1%; /* LTR */
  }
  [dir="rtl"] .one-sidebar .sidebar ,
  [dir="rtl"] .two-sidebars .sidebar {
    margin-right: 1%;
    margin-left: 0;
  }
  #sidebar-first {
    float: left;
  }
  #sidebar-second {
    float: right;
    clear: none;
  }
}

.sidebar .section {
  padding: 8px 5px 0;
}
.sidebar .block {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 0 10px;
}
.sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid  #ffe5c3;
  padding-bottom: 5px;
  text-shadow: 0 1px 1px  #ffe5c3;
  font-size: 1.071em;
  line-height: 1.2;
}
.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4;
}
.sidebar tbody {
  border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6;
}

