/**
 * @file
 * Visual styles for the site branding block in Three Grain Harmony.
 */

.site-branding {
#  margin-left: 20px;
  padding-left: 35px;
  z-index: 0;
}

.site-branding__logo img {
  vertical-align: middle;
  max-height: 80px;
}

.site-branding__logo {
  vertical-align: middle;
  display: inline-block;
/*   margin-right: 1em; /* LTR */ */
/*   margin-bottom: 0.286em; */

/**** Design-Variante A *****/
/*   padding: 10px; */
/*   background-color: white; */
/*   border: 6px double rgb(255, 187, 89); */
/*   border-radius: 12px; */

/**** Design-Variante B *****/
/*     padding: 11px; */
/*     background-color: white; */
/*     border: 6px double rgb(255,187,89); */
/*     border-radius: 20px; */
}
.site-branding__text {
  display: inline-block;
  vertical-align: top;
  margin-left: 2em;
/*  vertical-align: top;*/
  font-family: Arial,sans-serif;
}
@media all and (min-width: 461px) {
  .site-branding__text {
  }
}
@media all and (min-width: 901px) {
  .site-branding__text {
/*    padding: 1.286em 0 0; */
  }
}
.site-branding__name {
 /* font-size: 1.6em;*/
  font-size: 1.7em;
  /*color: #686868;*/
  line-height: 1;
  color: #ffffff;
  text-shadow: 0 2px 2px #8d8d8d;
}
.site-branding__slogan {
  color: rgb(241, 121, 25);
  text-shadow: 0 1px 1px #8d8d8d;
  text-shadow: 0 1px 0px #333333;
  padding-top: 2px;
  font-size: 1.2em;
}
