/**
 * @file
 * Styles for Three Grain Harmony's tabs.
 */

div.tabs {
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

/* --------------- Primary Tabs ------------ */

.tabs ul.primary {
  font-family: Arial, sans-serif;
  margin-bottom: 15px;
}
.tabs ul.primary li a {
 /*  color: rgb(64,64,64); */
  color: rgb(82, 82, 82);
  background-color: #fafafa;
  /* border-color: rgb(187,187,187); */
 /*  border-color: rgb(204, 201, 201); */
 /*  border-style: outset; */
 /*  border-width: 1px; */
  border: 1px solid white;
  border-radius: 8px;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  padding: 3px 10px;
  text-shadow: 0 2px 2px #8d8d8d;
}
.tabs ul.primary li a:hover {
  background-color: #ededed;
  /* border: 1px inset rgb(204, 201, 201); */
  border: 1px solid white;

}
.tabs ul.primary li.is-active a {
  color: #ffffff;
  text-shadow: 0 2px 2px rgb(64,64,64);
 /*  border: 1px inset rgb(234,114,16); */
 /*  border-style: solid; */
 /*  border-bottom-color: rgb(255, 193, 70); */
 /*  border-left-color: rgb(197, 96, 14); */
 /*  border-top-color: rgb(197, 96, 14); */
 /*  border-right-color: #ffd153; */
  border: 1px solid white;
  border-radius: 8px;
  
}
@media screen and (max-width: 37.5em) { /* 600px */
  .tabs ul.primary {
    border-bottom: 1px solid #bbb;
    border-radius: 8px;
  }
  .tabs ul.primary li {
    display: block;
    margin: 0;
  }
  .tabs ul.primary li a {
    padding: 5px 10px;
  }
  .tabs ul.primary li.is-active a {
   /*  border-bottom: none; */
  }
}
@media screen and (min-width: 37.5em) { /* 600px */
  .tabs ul.primary {
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    padding: 0 3px;
    margin-bottom: 10px;
    overflow: hidden;
/*     border: none; */
/*     background: transparent url(../../images/tabs-border.png) repeat-x left bottom; */
    white-space: nowrap;
  }
  .tabs ul.primary li {
    display: block;
    float: left; /* LTR */
    vertical-align: bottom;
    margin: 0 5px 0 0; /* LTR */
  }
  [dir="rtl"] .tabs ul.primary li {
    margin: 0 0 0 5px;
    float: right;
  }
  .tabs ul.primary li a {
    float: left; /* not LTR */
  /*   border-radius: 8px; */
  }
  .tabs ul.primary li.is-active a {
   /*  border-bottom: 1px solid black; */
   /*  border-radius: 8px; */
  }

/* --------------- Secondary Tabs ------------ */

.tabs ul.secondary {
  border-bottom: none;
  margin: 5px;
  padding: 0.5em 0;
  overflow: hidden;
}
.tabs ul.secondary li {
 /*  border-right: 1px solid #ccc; /* LTR */ */
  border-right: 1px dotted #e35400;
  display: block;
  float: left; /* LTR */
  margin: 0;
  padding: 0 1em;
}
[dir="rtl"] .tabs ul.secondary li {
  /* border-left: 1px solid #ccc; */
  border-left: 1px dotted #e35400;
  border-right: none;
  float: right;
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
[dir="rtl"] .tabs ul.secondary li:last-child {
  border-left: none;
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
[dir="rtl"] .tabs ul.secondary li:first-child {
  padding-right: 0;
}
.tabs ul.secondary li a {
  display: inline;
/*   padding: 0.25em 0.5em; */
  padding: 2px 8px;
  text-decoration: none;
  text-shadow: 0 1px 2px #fafafa;
}
.tabs ul.secondary li a.is-active {
  color: #e35400;
  text-shadow: 0 1px 2px #fafafa;
  background-color: #ffffff;
 /*  background: linear-gradient(to bottom right, #ffffff,#e8e8e8); /* Standard syntax */ */
  /* border: 1px solid #ffffff; */
  /* border-bottom: 2px solid #ea7210; */
  border-bottom: 2px solid #e35400;
 /*  border-radius: 8px; */
}

.tabs ul.secondary li a:hover {
  background-color: #ffffff;
  border-bottom: 2px solid #ea7210;
  /* border: 1px solid #ededed; */
}
