/**
 * @file
 * Styles for Three Grain Harmony's tables.
 */

.group-right > div.field--name-field-fast-navigation-html {
  display: flex;
  justify-content: space-between;
}

.wki_fnb_item {
/*  margin-left: 5px; */
/*  margin-right: 1%; */
  margin-top: 25px;
  margin-bottom: 25px;
/*  margin-left: 1%; */
/*  margin-bottom: 10px; */
/*  width: 22%; */
/*  padding: 5px; */
/*  height: 40px; */
/*  background: linear-gradient(to bottom right,#e26403,rgb(255,187,89)); */
/*  background-color: rgb(255,187,89); */
/*  border: 2px solid #fafafa; */
/*  border-radius: 50px; */
/*  border-radius: 8px; */
/*  border: 2px solid #f6dbaa; */
/*  background-color: #fafafa; */
/*  float: left; */
/*  padding-left: 100%; */
/*  text-align: justify; */
/*  display: flex; */
/*  justify-content: space-between; */
/*  display: inline-block; */
}



.wki_fnb_item a, .link{
  display: inline-block;
/*  color: rgb(0,0,0); */
  background-color: #fc9a1f;
/*  opacity: 0.7; */
  color: #fafafa;
  border: 2px solid whitesmoke;
/*  border-radius: 8px;   */
  display: inline-block;
  font-size: 1.25em;
  padding: 0.5em 1.75em;
  text-decoration: none;
}

.wki_fnb_item a:hover, .link:hover {
/*  color: rgb(0,0,0); */
  background-color: #fafafa;
  color: #fc9a1f;
/*  border: 2px solid whitesmoke; */
  
/*  display: inline-block; */
/*  font-size: 1.25em; */
/*  padding: 0.5em 1.75em; */
/*  text-decoration: none; */
}

.wki-boxed {
/*  background-color: rgb(200,200,200); */
  border: 2px solid orange;
  padding: 5px;
}

.wki-non-boxed {
  border: 2px solid white;
  padding: 5px;
}

.group-left .field__item .item-list ul {
  list-style-type: none;
}

.group-left .field__item .item-list > ul > li {
  margin: 0;
  padding: 1em;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border: 2px solid #f6dbaa;
  background-color: #fafafa;
}

.group-left .field__label {
  font-size: 1.2em;
}

.group-right .field__label {
  font-size: 1.2em;
}

.region-footer > .views-element-container {
  display:none;
}

.group-right .ds-2col-fluid > .group-right {
  float:left; 
}

.group-right .ds-2col-fluid > .group-left {
  width: auto;
  margin-right: 1em;
}

.group-right .group-right > .field--name-node-title > h2, .heading-b {
  -webkit-margin-before: 0;
  margin-top: 0;
  font-weight: bold;
}

.group-left > .field--name-field-project-preview-image > img {
  vertical-align: middle;
}

.group-right .field--name-field-featured-projects > .field__item {
  margin: 0;
  padding: 1em;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border: 2px solid #f6dbaa;
  background-color: #fafafa;
}

.group-right .field--name-field-contribute > .field__item {
  margin: 0;
  padding: 1em;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border: 2px solid #f6dbaa;
  background-color: #fafafa;
}

#block-threegrainharmony-content > .node--type-landing-page > .group-left {
  min-width: 400px;
/*  max-width: 600px; */
/*  width: auto; */
}

#block-threegrainharmony-content > .node--type-landing-page > .group-right {
  min-width: 650px;
/*  width: auto; */
}
