/**
 * @file
 * Three Grain Harmony layout styling.
 */

/**
 * Container
 */
.layout-container {
 // border-top: 6px double rgb(255, 187, 89);
  margin: 0;
}

/**
 * Main
 */

/*.layout-main-wrapper {
  min-height: 300px;
}*/
.layout-main {
/*  margin-top: 20px;*/
//  margin-bottom: 15px;
//  margin-left: 15px;
//  margin-right: 15px;
/*  margin-left: 2em;
  margin-right: 2em;*/
}

.footer {
  margin-top: 10px;
  margin-bottom: 12px;
}