{#
/**
 * @file
 * Three Grain Harmony's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory..
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  <header id="header" class="header" role="banner">
    <div class="section layout-container clearfix">
        {{ page.header }}
        {{ page.secondary_menu }}
        {{ page.primary_menu }}       
      </div>
  </header>

  <div id="main" class="layout-main clearfix">
  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

    <main role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="layout-content">
        <article>
          {{ page.content }}
        </article>
      </div>{# /.layout-content #}

      {% if page.sidebar_first %}
        <div id="sidebar-first" class="sidebar">
          <aside class="layout-sidebar-first" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        </div>
      {% endif %}

      {% if page.sidebar_second %}
        <div id="sidebar-second" class="sidebar">
          <aside class="layout-sidebar-second" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        </div>
      {% endif %}

    </main>
  </div>
  {% if page.footer %}
    <footer role="contentinfo">
      <div class="footer-text">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>{# /.layout-container #}
