/* ---------- Color Module Styles ----------- */

body {
  /*color: #3b3b3b;
 color: rgb(70,70,70);
  background-color: rgb(234, 228, 214);
  background-color: rgba(255,160,33,1);
background-color: rgb(200, 200, 200);
  background: linear-gradient(to bottom right,#e26403,rgb(255,187,89));*/
  background: radial-gradient(ellipse,  rgba(255,160,33,1) 70%, rgb(234, 114, 16));
}
#page,
#main-wrapper,
.layout-main {
  background: #ffffff;
}

/*
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background-image: linear-gradient(to bottom,#fafafa,#e8e8e8);
}

.region-primary-menu .menu-item a.is-active:hover,
.region-primary-menu .menu-item--active-trail a:hover {
  background-image: linear-gradient(to bottom,#fafafa,#f1a97f);
}
*/

.tabs ul.primary li a.is-active {
  /* background-color: #ffffff; */
}
.tabs ul.primary li.is-active a {
  /* background-color: #ffffff; */
  /* border-bottom-color: #ffffff; */
  /* background-image: linear-gradient(to bottom,#fafafa,#ff7002); */
  background: orange; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top,#e26403,rgb(255,187,89)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right,#e26403,rgb(255,187,89)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right,#e26403,rgb(255,187,89)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right,#e26403,rgb(255,187,89)); /* Standard syntax */
  background: linear-gradient(to bottom right,#e26403,rgb(255,187,89));
  color: #ffffff;
}
#header {
/*.region-header {*/
/*  background-color: #ffffff; */
  background-color: rgb(200,200,200);
/*  background-color: #1d84c3;*/
/*  background-image: -webkit-linear-gradient(top, #055a8e 0%, #1d84c3 100%);
  background-image: linear-gradient(to bottom, #055a8e 0%, #1d84c3 100%);
*/
}
a,
.link {
/*   color: rgb(255, 187, 89); */
/*   color: rgb(255, 160, 54); */
/*   color: rgb(255, 125, 20); */
  color: rgb(234, 114, 16);
}
a:hover,
a:focus,
.link:hover,
.link:focus {
/*   color: rgb(227,84,0); */
  color: rgb(251, 123, 19);
}
/*a:active,
.link:active {
  color: #23aeff;
}
*/
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
.region-footer {
 /*  background: #292929; */
/*   background-color: #e30f27; */
  color: rgb(255,255,255);
background-color: rgba(255,160,33,1);
}
.region-footer a {
  color: rgb(255,255,255);
}
.site-name, 
.site-name a,
.site-slogan {
  color: rgb(70,70,70);
}
/*.region-header,
.region-header a,
.region-header li a.is-active,
.site-branding__text,
.site-branding,
.site-branding__text a,
.site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #464646;
}*/

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
