/**
 * @file
 * Three Grain Harmony layout styling.
 */

/**
 * Container
 */
body {
 /*  border-top: 6px double rgb(255, 187, 89); */
  margin-left: auto;
  margin-right: auto;
  max-width: 1700px;

}

/**
 * Main
 */

/*
.layout-main-wrapper {
  min-height: 300px;
}
*/

.layout-main {
/*  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-left: 50px;
  margin-right: 2em; */
}

.footer {
  margin-top: 10px;
  margin-bottom: 12px;
}

.region-header {
  float: left;
}

/*
.region-secondary-menu {
  float: right;
}
*/

#wisski-entity-list td div {
  height: 125px;
  min-width: 100px;
  position: relative;
}

#wisski-entity-list td div a:last-of-type {
  bottom: 0;
  position: absolute;
}

.layout-content {
  width: 100%;
}

div.views-field span.field-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  position: relative;
}

div.views-field-preview-image {
  position: relative;
  display: block;
}

div.views-row {
  margin-bottom: 5px;
  display: flex;
}

div.views-col {
  border: 1px solid lightgrey;
  margin: 5px;
  margin-right: 10px;
  padding: 5px;
}


