/**
 * @file
 * Styles for Three Grain Harmony's buttons.
 */

.button {
  display: inline-block;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #fafafa, #e8e8e8);
  background-image: linear-gradient(to bottom,#fafafa,#e8e8e8);
  border: 1px solid #e4e4e4;
  border-radius: 12px;
  border-bottom-color: rgb(187,187,187);
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  text-decoration: none;
  color: rgb(64,64,64);
  text-shadow: 1px 1px 2px #fafafa;
  cursor: pointer;
  font-family: CorpoSregular,Arial,sans-serif;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  padding: 0.25em 1.05em;
}
.button:hover,
.button:active,
.button:focus {
  background-image: linear-gradient(to bottom,#fafafa,#f1a97f);
  color: #e35400;
//  color: #5a5a5a;
  text-decoration: none;
//  border: 1px solid #ff9d64;
  border: 1px solid #ffa673;
  border-bottom-color: #b26d46;
  border-left-color: #cc7d50;
  border-right-color: #cc7d50;
}
.button:focus {
  outline-style: none;
  border: 1px inset #ffa673;
  border-radius: 12px; 
}
.button.is-disabled:hover,
.button.is-disabled:active,
.button.is-disabled:focus,
.button.is-disabled {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
  cursor: default;
}
