/**
 * @file
 * Footer Styling.
 */

.region-footer {
  padding: 30px 40px 20px;
  font-family: Arial,sans-serif;
  font-size: 0.9em;
  text-shadow: 0 2px 2px #8d8d8d;
 // border-top: 2px double rgb(222,222,222);
 // border-top: 7px double #ccc;
}