/* ------------------ Header ------------------ */
#header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header .section {
  position: relative;
}
.header {
  background-image: url('../../wisski_header.png');
  z-index: 0;
}
.region-header {
  padding: 0.1em 15px 5px;
 // border-bottom: 6px double rgba(255,160,33,1);
  z-index: 0;
}
.region-header .site-branding {
  /*margin-top: 0.429em;*/
  z-index: 0;
}
