/**
 * @file
 * Visual styles for Three Grain Harmony's layout-main component.
 */
.layout-main {
  padding: 25px 35px 40px 35px;
//  border-style: solid;
//  border-width: 15px;
//  border-radius: 8px;
//  border-color: rgb(70, 70, 70);
  border-top: 7px double #ccc;
  border-bottom: 7px double #ccc;
}