/* --------------- Primary Menu ------------ */

.region-primary-menu {
  clear: both;
  padding-right: 10px;
  z-index: 100;
}
.region-primary-menu .contextual-region{
  z-index: 100;
}
.region-primary-menu .contextual-region .menu--main {
  z-index: 100; 
}
.region-primary-menu .menu {
  display: block;
  /*margin-top: 0.8em;*/
  font-size: 1em;
  font-weight: normal;
  z-index: 100;
}
.region-primary-menu .menu-item {
  margin: 0;
  padding: 0;
  z-index: 100;
}

.region-primary-menu .menu a {
  display: block;
  width: 100px;
  float: right;
  text-align: center;
//    border: 1px solid rgb(227,0,27);
  border: 1px solid #e4e4e4;
  background-image: linear-gradient(to bottom,#fafafa,#e8e8e8);
  border-radius: 12px;
  border-bottom-color: rgb(187,187,187);
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  text-decoration: none;
  color: rgb(64,64,64);
  text-shadow: 0 1px 2px #fafafa;
  margin-left: 5px;
 /* background: url('../pics/bgr_button.png') repeat-x top;*/
  font-weight: bold;

}
.region-primary-menu .menu a:hover {
  //color: rgb(187,96,5);
  color: rgb(234,114,16);
  //border: 1px solid rgb(187,96,5);
 // border: 1px solid rgb(234,114,16);
  border: 1px solid rgb(243,155,83);
  border-bottom-color: rgb(186,91,13);
  border-left-color: rgb(210,102,14);
  border-right-color: rgb(210,102,14);
  background-image: linear-gradient(to bottom,#fafafa,#f1a97f);
  //background-image: linear-gradient(to bottom,#fafafa,#ff7002); 
  /*  background: url('../pics/bgr_button_hover.png') repeat-x top;*/
}

.region-primary-menu .menu a:focus {
 // border: 1px inset orange;
  border: 1px inset rgb(234,114,16);
  border-radius: 12px;
}

.region-primary-menu .menu a:last-child {
  margin-right: 5px; /* LTR */
}
[dir="rtl"] .region-primary-menu .menu a:last-child {
  margin-left: 5px;
}
