/* ------------------ Sidebar ----------------- */

@media all and (min-width: 560px) {
  .sidebar {
    float: right; /* LTR */
    position: relative;
    width: 50%;
  }
  [dir="rtl"] .sidebar {
    float: left;
  }
}
@media all and (min-width: 851px) {
  .layout-content {
    float: left;
    width: 58%;
  }
  .sidebar {
    width: 20%;
  }
  #sidebar-first {
    width: 20%;
   // margin-left: -100%; /* LTR */
  }
  [dir="rtl"] #sidebar-first {
  //  margin-right: -100%;
   // margin-left: 0;
  }
  #sidebar-second {
   // float: right;
   // width: 25%;
   // margin-left: -25%; /* LTR */
    clear: none;
  }
  [dir="rtl"] #sidebar-second {
   // margin-right: -25%;
   // margin-left: 0;
  }
}

.sidebar .section {
  padding: 8px 5px 0;
}
.sidebar .block {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 0 10px;
}
.sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid  #ffe5c3;
  padding-bottom: 5px;
  text-shadow: 0 1px 1px  #ffe5c3;
  font-size: 1.071em;
  line-height: 1.2;
}
.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4;
}
.sidebar tbody {
  border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6;
}
