/**
 * @file
 * Styles for Three Grain Harmony's tables.
 */

table {
//  border: 0;
//  border-spacing: 0;
//  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-family: CorpoSregular,Arial,sans-serif;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
th {
  text-align: left; /* LTR */
  padding: 10px 12px;
}
[dir="rtl"] th {
  text-align: right;
}
thead th {
 // background: #e8e8e8;
  background-image: linear-gradient(to bottom,#fafafa,#e8e8e8);
  border: solid #ccc;
  border-top-color: #e0e0e0;
  border-width: 1px 0;
 // color: rgb(70,70,70); 
 // color: #333;
 // text-transform: uppercase;
}
tr {
 // border-bottom: 1px dashed #e6e4df;
  padding: 0.1em 0.6em;
}
/*thead > tr {
  border-bottom: 1px solid #000;
}
*/
td,
th {
  vertical-align: middle;
}
td {
  padding: 10px 12px;
  text-align: left; /* LTR */
}
[dir="rtl"] td {
  text-align: right;
}
tr.region-title {
  font-size: 1.2em;
}
tr.region-title > td {
   padding-top: 14px;
}
